.login-container {
    width: 100;
    height: 100vh;
    background-color: aqua;
    position: relative;

    .logo {
        font-size: 70px;
        font-weight: bold;
        font-family: 'Courier New', Courier, monospace;
        position:absolute;
        top: 50px;
        right: 50px;
    }

    .desc {
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        position: absolute;
        top: 200px;
        right: 50px;
        text-align: right;
        width: 500px;
    }

    .film {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 500px;
    }

    .login-form {
        width: 500px;
        height: 200px;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        position: absolute;
        bottom: 50px;
        right: 50px;
        box-shadow: 5px 5px 20px #383838;
        .form-group {
          margin-top: 20px;
        }

        .error {
            position: absolute;
            top: 32px;
            right: 0px;
            color: red;
          }

    }
}